<h1>這是 Articles 的首頁</h1>


<ul>
  <% @articles.each do |article| %>
  <li>
    <%= link_to article.title, article_path(article) %>
    <%= link_to "刪除本篇文章", article_path(article), method: :delete %>
  </li>
  <% end %>
</ul>